Source: metar
Section: utils
Priority: optional
Maintainer: Kees Leune <kees@leune.org>
Uploaders: Joost van Baal-Ilić <joostvb@debian.org>
Standards-Version: 3.9.6
Build-Depends: libcurl4-openssl-dev, debhelper (>=12)
Homepage: http://github.com/keesL/metar

Package: metar
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: utility to download/decode METAR reports
 Metar is a small utility that will download meteorological reports for
 aviation from the NOAA HTTP server at weather.noaa.gov and optionally decodes
 them into a human readable form.
 .
 This package is particularly useful if you want to quickly find out what the
 weather is like in places all over the world and you do not need fancy GUIs.
